* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #f0f1f2;
	font: 12px "Open Sans", sans-serif;
}

#view-code {
	color: #89a2b5;
	opacity: 0.7;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	position: absolute;
	top: 660px;
	left: 50%;
	margin-left: -50px;
	z-index: 200;
}

#view-code:hover {
	opacity: 1;
}

#chatbox {
	width: 100%;
	height: 100%;;
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	position: absolute;
}

#tab_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#botmenu{
	position:fixed;
	display: flex;
	justify-content: space-around;
	height: 69px;
	width: 100%;
	bottom:0;
	box-shadow: 6px 6px 10px 4px rgba(226, 154, 22, 0.6);
}

.list_container{
	background-color: #f1f4f6;
	margin-top: 44.8px;
	height: calc(100% - 115px);
	overflow-y: scroll;
}

.chat_header{
	font-size:25px;
}

#topmenu {
	position:fixed;
	display: flex;
	justify-content: space-between;
	/*box-shadow: 4px 4px 4px 4px rgba(226, 154, 22, 0.6);*/
	/*border-bottom: 1px solid #f18a1c;*/
	width: 100%;
}

#topmenu span {
	float: left;
}

#topmenu span.friends {
	margin-bottom: -1px;
}

#topmenu span.chats {
	background-position: -95px 25px;
	cursor: pointer;
}

#topmenu span.chats:hover {
	background-position: -95px -46px;
	cursor: pointer;
}

#topmenu span.history {
	background-position: -190px 24px;
	cursor: pointer;
}

#topmenu span.history:hover {
	background-position: -190px -47px;
	cursor: pointer;
}

.chat_row {
	height: 70px;
	background-color:white;
	border-bottom: 1px solid #e7ebee;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding:5px;
}

.chat_row:hover {
	background: #f1f4f6;
	cursor: pointer;
}

.chat_row img {
	/* width: 40px;
	border-radius: 50%;
	margin: 15px;
	float: left; */
}

.floatingImg {
	width: 40px;
	border-radius: 50%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 0;
	border: 3px solid #fff;
}

.chat_row p {
	padding: 15px;
	float: left;
	width: 220px;
}

.chat_row p strong {
	font-weight: 600;
	font-size: 15px;
	color: #f18a1c;
}

.chat_row p span {
	font-size: 13px;
	font-weight: 400;
	color: #f18a1c;
}

.chat_row .status {
	background: #26c281;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 31px;
	right: 17px;
}

.chat_row .status.away {
	background: #ffce54;
}

.chat_row .status.inactive {
	background: #eaeef0;
}

#chat_footer {
	border-top: 1px solid #f18a1c;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#searchfield {
	margin: 21px 0 0 55px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400px;
	color: #8198ac;
}

#searchfield:focus {
	outline: 0;
}

#chat_room_view {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
}

#chat_header {
	border-bottom: 1px solid #e7ebee;
	height: 69px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.p1 #chat_header {
	/* background: #fff
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") */
	0 0 no-repeat;

}

#chat_header .avatar {
	width: 68px;
	border: 3px solid #fff;
	margin: 23px 0 0;
	border-radius: 50%;
}

#chat_header  p {
	font-weight: 600;
	font-size: 15px;
	margin: 118px 0 -1px;
	opacity: 0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chat_header  p.animate {
	margin-top: 97px;
	opacity: 1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chat_header  span {
	font-weight: 400;
	font-size: 11px;
}

#chat_messages {
	opacity: 0;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chat_messages.animate {
	opacity: 1;
	margin-top: 0;
}

#chat_messages label {
	color: #f18a1c;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin: 15px 0;
	width: 290px;
	display: block;
}

#chat_messages div.message {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 10px;
	width: 100%;
	float: left;
}

#chat_messages div.message.right {
	align-items: end;
	float: right;
}

#chat_messages .message img {
	margin: 10px;
	width: 30px;
	border-radius: 50%;
}

.message .message_content_container {
	display: flex;
	align-items: start;
}

.message .bubble {
	max-width: 200px;
	word-break: break-all;
	background: #f0f4f7;
	font-size: 13px;
	font-weight: 600;
	padding: 12px 13px;
	border-radius: 5px 5px 0px 5px;
	color: #8495a3;
	position: relative;
	float: left;
	margin: 3px;
}

.message .bubble_box{
	display:flex;
}

.message .bubble_box .unread_count_container{
	display:flex;
	align-items:end;
}

.bubble_box .unread_count_container .unread_count{
	color: #388bc7;
	font-size: 12px;
	font-weight:600;
}

#chat_messages div.message.right .bubble {
	float: right;
	border-radius: 5px 5px 5px 0px;
}

.recent_messageDt{
	font-size: 11px;
	color: #8495a3;
	margin: 0 0 0 10px;
}

.bubble .corner {
	background:
			url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png")
			0 0 no-repeat;
	position: absolute;
	width: 7px;
	height: 7px;
	left: -5px;
	top: 0;
	transform: scaleY(-1);
}

div.message.right .corner {
	background:
			url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png")
			0 0 no-repeat;
	left: auto;
	right: -5px;
}

.bubble span {
	color: #f18a1c;
	font-size: 11px;
	position: absolute;
	right: 0;
	bottom: -22px;
}

#sendmessage {
	height: 60px;
	border-top: 1px solid #e7ebee;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding-bottm: 50px;
}

#sendmessage input {
	width : 80%;
	background: #fff;
	margin: 5px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400px;
	color: #f18a1c;
}

#sendmessage input:focus {
	outline: 0;
}

#sendmessage button {
	background: #fff
	url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0
	-41px no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	top: 23px;
	border: none;
}

#sendmessage button:hover {
	cursor: pointer;
	background-position: 0 0;
}

#sendmessage button:focus {
	outline: 0;
}

#close_chat {

}

#close_chat:hover {
	opacity: 1;
}

.cx, .cy {
	background: #fff;
	position: absolute;
	width: 0px;
	top: 15px;
	right: 15px;
	height: 3px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.cx.s1, .cy.s1 {
	right: 0;
	width: 20px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.cy.s2 {
	-ms-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.cy.s3 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.cx.s1 {
	right: 0;
	width: 20px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.cx.s2 {
	-ms-transform: rotate(140deg);
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.cx.s3 {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: all 100ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chat_room_view, #sendmessage {
	overflow: hidden;
	border-radius: 6px;
}

.close_chat {
	display: inline-block;
	*display: inline;
}

.chat_header {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* 네비게이션 */

html.open {
	overflow: hidden;
}

#menu.open {
	left: 0px;
}

.page_cover.open {
	display: block;
}

.left_side_btn {
	width: 50px;
	height: 50px;
	z-index: 1;
	background-image:
			url("/chat/image/menu.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.close {
	width: 50px;
	height: 50px;
	background-image: url("../image/close.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#menu {
	width: 250px;
	height: 100%;
	position: fixed;
	padding: 5px;
	top: 0px;
	left: -270px;
	z-index: 10;
	border: 1px solid #c9c9c9;
	background-color: white;
	text-align: center;
	font-weight: bold;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
}

#menu a {
	padding: 0;
	text-decoration: none;
	font-size: 18px;
	color: #25a4cd;
	display: block;
	transition: 0.3s;
}

#menu.open {
	left: 0px;
}

.page_cover.open {
	display: block;
}

.page_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 4;
	display: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu ul.nav li {
	position: relative;
	float: left;
	width: 100%;
	list-style-type: none;
	font-size: 18px;
}

#menu ul.nav li a {
	display: flex;
	justify-content:space-between;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-indent: 20px;
	text-align: left;
	color: #25a4cd;
	font-weight: bold;
	text-decoration: none;
}

#menu ul.nav li a:hover {
	background: #eee;
}

#menu ul.nav li .channel_user_list a {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	z-index: 999;
	background: #ccc;
}

#menu ul.nav li .channel_user_list a:hover {
	background: #787878;
	color: #fff;
	z-index: 999;
}

.friend_check_label{
	display:none;
}

#invite_list_popup .friend_check_label{
	display:inline;
}

input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label {
	cursor: pointer;
	padding-left: 23px;
	background-repeat: no-repeat;
	background-image: url('image/checker-off.svg');
}
input[type=checkbox]:checked + label {
	background-image: url('image/checker-on.svg');
}
input[type=checkbox]:disabled + label {
	background-image: url('image/checker-disabled.svg');
}
.profile_container.swiper-wrapper{
	flex-direction:row;
	justify-content: flex-start;
	width: 100%;
	height: 300px;
}
.profile_container{
	position:relative;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 20%;
}
.profile_container .profile_img{
	/* margin: 5px; */
	position: absolute;
	float: left;
	/*background-color:black;*/
	border-radius: 50%;
	border: 1px solid white;
	overflow:hidden;
	width:50px;
	height:50px;
	margin: 0 auto;
	display:flex;
}
.profile_img img {
	width:100%;
	object-fit:cover;
	image-rendering:-webkit-optimize-contrast;
	transform:translateZ(0);
	backface-visibility:hidden;
}
.profile_row {
	display:flex;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}

.profile_img:nth-child(1){
	top: 10%;
	left:10%;
}
.profile_img:nth-child(2){
	top: 50%;
	left:50%;
}
.profile_img:nth-child(3){
	top: 50%;
	left:10%;
}
.profile_img:nth-child(4){
	top: 10%;
	left:50%;
}

.profile_popup .profile_img{
	width:35px;
	height:35px;
}

.chat_row.channel{
	border-top: 2px solid #f1f4f6;
}

.chat_row .channel_alias{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
	width: 80%;
	display:inline-block; font-weight: 600; font-size: 15px; color: #f18a1c;
}

.chat_row .unread_count_container{
	display: flex; flex-direction: column; align-items: center; justify-content: center; width:30px;
}

.chat_row .unread_count_container .unread_count{
	display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 20px; height:20px; background-color:#388bc7; color:white; font-size: 11px; font-weight:600; display:none;
}

.recent_message_container .recent_message{
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;
	font-size: 13px;
}

.recent_message_container {
	display:flex;
	justify-content: space-between;
}

#profile_popup .profile_container .profile_img{
	width:100px;
	height:100px;
}

#profile_popup .name_container .name {
	color: #f18a1c;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	display: inline-block;
	text-align:center;
}

#profile_popup .message_container .message {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
	display: inline-block;
	text-align:center;
}

#chat_header #channel_alias{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
	width: 200px;
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	color: #f18a1c;
}

.urlThumbnail{
	display:flex;
}

.oneLine{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
	width: 200px;
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	color: #f18a1c;
}

.oneLineAlarm{
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	word-break: break-all;
	font-weight: 600;
	font-size: 15px;
	color: #f18a1c;
}
#app_title_container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#app_header_menu .app_header{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	margin: 10px;
	cursor: pointer;
}

#app_title_container .app_title{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	margin: 10px;
	cursor: pointer;
}
.channel_user_add_btn{
	display: flex; text-align: center; align-items: center; z-index:9999;
}
.channel_user_add_btn .channel_user_add_btn_img{
	width:25px;margin:10px;transform: rotate( 45deg );
}

#search_user_container{
	width: 100%; max-height:60%; overflow-y:scroll; display: none; position:absolute; z-index:9999; background-color:white;
}
.friend_list_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:5px;
	padding:5px;
	border: 1px solid #f18a1c;
	cursor: pointer;
}
.friend_list_item_info{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.friend_list_item_img{
	width: 20%;
}
.friend_info {
	width:80%;
}

.channel_row_contents{
	display: flex;flex-direction: column;width: 65%; padding: 10px; justify-content:space-between;
}

.friend_message{
	color:#737373;
	font-size: 12px;
}

.alarm_payload{
	text-align:center; border-radius:10px; background-color:#eb8b1b; width:70%; margin-top:10px; color:white;
}

.friend_message{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#loadingCover{
	position:absolute; width:100%; height:100%; background-color:black; opacity: 0.4; display:none; flex-direction: column; justify-content: center; align-items: center; z-index: 9999;
}

#loadingCover #loadingText{
	color:white;
	font-weight:600;
	font-size:15px;
	margin-top:10px;
}

#loadingCover #circonf {
	margin: 0 auto;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid silver;
	animation: circ-anim 0.7s linear infinite;
	border-bottom-color: grey;
}

@keyframes circ-anim {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.characterSelectButton {
	max-width: 150px;
	height: auto;
	border-radius: 5px;
	background-color: #eb8b1b;
	color:white;
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	word-wrap: break-word;
	border:0;
}

.characterSelectHashTag{
	margin:3px;
	padding:3px;
	border-radius: 5px;
	border:1px solid black;
}

.characterSelectionPopup {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	overflow-y: auto;
	width:80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-wrap: wrap;
}

.form-floating.mb-3 {
	position: relative;
}

.form-floating.mb-3:hover .characterSelectionPopup {
	display: block;
}

#character {
	display:flex;
	border: 1px solid #ccc;
	padding: 10px;
	padding-top:30px;
	margin-top: 10px;
	flex-wrap: wrap;
	height: auto;
	min-height: 58px;
}

.close-button {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.close-button button {
	cursor: pointer;
}

ul {
	list-style-type: none; /* 리스트 항목의 점을 없앰 */
}

.dropdown-list {
	display: none; /* 초기에는 드롭다운을 숨김 */
}

.dropdown-list.openToggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	top: 40px;
	border: 1px solid black;
	right: 5px;
	align-items: end;
	background-color: white;
	z-index:9999;
	padding: 5px;
}